body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:576px;
}
#u7261 {
  position:absolute;
  left:389px;
  top:11px;
  width:327px;
  height:576px;
}
#u7262 {
  position:absolute;
  left:2px;
  top:280px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u7263 {
  position:absolute;
  left:389px;
  top:735px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7264 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u7265 {
  position:absolute;
  left:389px;
  top:767px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7266 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u7267 {
  position:absolute;
  left:389px;
  top:919px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7268 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u7269 {
  position:absolute;
  left:470px;
  top:736px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7270 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u7271 {
  position:absolute;
  left:438px;
  top:768px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7272 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:21px;
}
#u7273 {
  position:absolute;
  left:512px;
  top:947px;
  width:309px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7274 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
