body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:518px;
}
#u6865 {
  position:absolute;
  left:365px;
  top:40px;
  width:328px;
  height:508px;
}
#u6866 {
  position:absolute;
  left:2px;
  top:246px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:334px;
}
#u6867 {
  position:absolute;
  left:366px;
  top:548px;
  width:326px;
  height:324px;
}
#u6868 {
  position:absolute;
  left:2px;
  top:154px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u6869 {
  position:absolute;
  left:354px;
  top:948px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u6871 {
  position:absolute;
  left:354px;
  top:980px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u6873 {
  position:absolute;
  left:354px;
  top:1021px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6874 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u6875 {
  position:absolute;
  left:354px;
  top:1172px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u6877 {
  position:absolute;
  left:445px;
  top:949px;
  width:85px;
  height:20px;
}
#u6878 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
}
#u6879 {
  position:absolute;
  left:403px;
  top:981px;
  width:173px;
  height:20px;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6881 {
  position:absolute;
  left:479px;
  top:1048px;
  width:20px;
  height:20px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
}
#u6883 {
  position:absolute;
  left:509px;
  top:1050px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6885 {
  position:absolute;
  left:479px;
  top:1194px;
  width:20px;
  height:20px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
}
#u6887 {
  position:absolute;
  left:509px;
  top:1196px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6888 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6889 {
  position:absolute;
  left:479px;
  top:1226px;
  width:20px;
  height:20px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:21px;
}
#u6891 {
  position:absolute;
  left:509px;
  top:1228px;
  width:351px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6892 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u6893 {
  position:absolute;
  left:680px;
  top:127px;
  width:101px;
  height:1px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u6895 {
  position:absolute;
  left:781px;
  top:108px;
  width:40px;
  height:40px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u6897 {
  position:absolute;
  left:660px;
  top:851px;
  width:101px;
  height:1px;
}
#u6898 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u6899 {
  position:absolute;
  left:761px;
  top:832px;
  width:40px;
  height:40px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
