body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:987px;
}
#u3659 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:986px;
}
#u3660 {
  position:absolute;
  left:2px;
  top:485px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:802px;
}
#u3662 {
  position:absolute;
  left:70px;
  top:78px;
  width:378px;
  height:802px;
}
#u3663 {
  position:absolute;
  left:2px;
  top:393px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3664_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:571px;
}
#u3664 {
  position:absolute;
  left:102px;
  top:198px;
  width:320px;
  height:568px;
}
#u3665 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3666 {
  position:absolute;
  left:232px;
  top:43px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3667 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:568px;
}
#u3668 {
  position:absolute;
  left:102px;
  top:199px;
  width:258px;
  height:567px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3669 {
  position:absolute;
  left:2px;
  top:274px;
  width:254px;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u3670 {
  position:absolute;
  left:313px;
  top:468px;
  width:27px;
  height:29px;
}
#u3671 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:51px;
}
#u3672 {
  position:absolute;
  left:80px;
  top:900px;
  width:397px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u3673 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:802px;
}
#u3675 {
  position:absolute;
  left:620px;
  top:78px;
  width:378px;
  height:802px;
}
#u3676 {
  position:absolute;
  left:2px;
  top:393px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:571px;
}
#u3677 {
  position:absolute;
  left:652px;
  top:198px;
  width:320px;
  height:568px;
}
#u3678 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u3679 {
  position:absolute;
  left:764px;
  top:43px;
  width:91px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3680 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:568px;
}
#u3681 {
  position:absolute;
  left:654px;
  top:199px;
  width:186px;
  height:567px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3682 {
  position:absolute;
  left:2px;
  top:274px;
  width:182px;
  word-wrap:break-word;
}
#u3683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u3683 {
  position:absolute;
  left:883px;
  top:473px;
  width:43px;
  height:20px;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u3685 {
  position:absolute;
  left:840px;
  top:468px;
  width:27px;
  height:29px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:96px;
}
#u3687 {
  position:absolute;
  left:843px;
  top:507px;
  width:93px;
  height:96px;
}
#u3688 {
  position:absolute;
  left:2px;
  top:40px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:26px;
}
#u3689 {
  position:absolute;
  left:611px;
  top:900px;
  width:343px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
