body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:586px;
}
#u7173 {
  position:absolute;
  left:349px;
  top:121px;
  width:329px;
  height:576px;
}
#u7174 {
  position:absolute;
  left:2px;
  top:280px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u7175 {
  position:absolute;
  left:349px;
  top:737px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7176 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u7177 {
  position:absolute;
  left:349px;
  top:769px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7178 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u7179 {
  position:absolute;
  left:349px;
  top:810px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7180 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u7181 {
  position:absolute;
  left:440px;
  top:738px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7182 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
}
#u7183 {
  position:absolute;
  left:398px;
  top:770px;
  width:173px;
  height:20px;
}
#u7184 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7185 {
  position:absolute;
  left:472px;
  top:835px;
  width:20px;
  height:20px;
}
#u7186 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:21px;
}
#u7187 {
  position:absolute;
  left:502px;
  top:837px;
  width:358px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7188 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
#u7189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u7189 {
  position:absolute;
  left:652px;
  top:256px;
  width:101px;
  height:1px;
}
#u7190 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7191 {
  position:absolute;
  left:753px;
  top:237px;
  width:40px;
  height:40px;
}
#u7192 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
