body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u7071 {
  position:absolute;
  left:165px;
  top:706px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u7073 {
  position:absolute;
  left:165px;
  top:738px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7074 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u7075 {
  position:absolute;
  left:165px;
  top:779px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7076 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u7077 {
  position:absolute;
  left:165px;
  top:930px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u7078 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:21px;
}
#u7079 {
  position:absolute;
  left:256px;
  top:707px;
  width:176px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7080 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u7081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u7081 {
  position:absolute;
  left:214px;
  top:739px;
  width:229px;
  height:20px;
}
#u7082 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u7083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7083 {
  position:absolute;
  left:288px;
  top:804px;
  width:20px;
  height:20px;
}
#u7084 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:21px;
}
#u7085 {
  position:absolute;
  left:318px;
  top:806px;
  width:211px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7086 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u7087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7087 {
  position:absolute;
  left:288px;
  top:836px;
  width:20px;
  height:20px;
}
#u7088 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:21px;
}
#u7089 {
  position:absolute;
  left:318px;
  top:838px;
  width:211px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u7091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7091 {
  position:absolute;
  left:288px;
  top:964px;
  width:20px;
  height:20px;
}
#u7092 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:21px;
}
#u7093 {
  position:absolute;
  left:318px;
  top:966px;
  width:481px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7094 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:584px;
}
#u7095 {
  position:absolute;
  left:165px;
  top:52px;
  width:326px;
  height:574px;
}
#u7096 {
  position:absolute;
  left:2px;
  top:279px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:2px;
}
#u7097 {
  position:absolute;
  left:362px;
  top:95px;
  width:187px;
  height:1px;
}
#u7098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7099 {
  position:absolute;
  left:549px;
  top:76px;
  width:40px;
  height:40px;
}
#u7100 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u7101 {
  position:absolute;
  left:448px;
  top:145px;
  width:101px;
  height:1px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7103 {
  position:absolute;
  left:549px;
  top:126px;
  width:40px;
  height:40px;
}
#u7104 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u7105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u7105 {
  position:absolute;
  left:448px;
  top:195px;
  width:101px;
  height:1px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7107 {
  position:absolute;
  left:549px;
  top:176px;
  width:40px;
  height:40px;
}
#u7108 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u7109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u7109 {
  position:absolute;
  left:448px;
  top:245px;
  width:101px;
  height:1px;
}
#u7110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7111 {
  position:absolute;
  left:549px;
  top:226px;
  width:40px;
  height:40px;
}
#u7112 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u7113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u7113 {
  position:absolute;
  left:448px;
  top:305px;
  width:101px;
  height:1px;
}
#u7114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7115 {
  position:absolute;
  left:549px;
  top:286px;
  width:40px;
  height:40px;
}
#u7116 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u7117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:586px;
}
#u7117 {
  position:absolute;
  left:711px;
  top:50px;
  width:329px;
  height:576px;
}
#u7118 {
  position:absolute;
  left:2px;
  top:280px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u7119 {
  position:absolute;
  left:350px;
  top:206px;
  width:1px;
  height:200px;
}
#u7120 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7121_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:370px;
  height:19px;
}
#u7121p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:364px;
  height:4px;
}
#u7121p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:366px;
  height:6px;
}
#u7121p001 {
  position:absolute;
  left:348px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7121p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:22px;
}
#u7121.compound {
  width:0px;
  height:0px;
}
#u7121 {
  position:absolute;
  left:350px;
  top:405px;
  width:361px;
  height:1px;
}
#u7122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7123 {
  position:absolute;
  left:288px;
  top:996px;
  width:20px;
  height:20px;
}
#u7124 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:21px;
}
#u7125 {
  position:absolute;
  left:318px;
  top:998px;
  width:505px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7126 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7127 {
  position:absolute;
  left:288px;
  top:1028px;
  width:20px;
  height:20px;
}
#u7128 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:21px;
}
#u7129 {
  position:absolute;
  left:318px;
  top:1030px;
  width:281px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
